@model IEnumerable<VPExam.Models.Item>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style=" width: 1%; white-space: nowrap;">
            <a href="javascript:void(0);" onclick='AddtoCart("@item.Id","@item.Name")' class="fa fa-plus"></a>           
        </td>
    </tr>
}



